In [1]:
import findspark
findspark.init()

In [2]:
from IPython.display import display, HTML
from pyspark.sql import SparkSession
from pyspark import StorageLevel
import pandas as pd
from pyspark.sql.types import StructType, StructField,StringType, LongType, IntegerType, DoubleType, ArrayType
from pyspark.sql.functions import regexp_replace
from sedona.register import SedonaRegistrator
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
from pyspark.sql.functions import col, split, expr
from pyspark.sql.functions import udf, lit
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
from pyspark.sql.functions import col, split, expr
from pyspark.sql.functions import udf, lit

# Create Spark Session for application

In [3]:
spark = SparkSession.\
    builder.\
    master("local[*]").\
    appName("Demo-app").\
    config("spark.serializer", KryoSerializer.getName).\
    config("spark.kryo.registrator", SedonaKryoRegistrator.getName) .\
    config("spark.executor.cores", 3) .\
    config("spark.driver.memory", "4G") .\
    config("spark.kryoserializer.buffer.max.value", "4096") .\
    config("spark.sql.crossJoin.enabled", "true") .\
    getOrCreate()

SedonaRegistrator.registerAll(spark)
sc = spark.sparkContext

# Geotiff Loader 

1. Loader takes as input a path to directory which contains geotiff files or a parth to particular geotiff file
2. Loader will read geotiff image in a struct named image which contains multiple fields as shown in the schema below which can be extracted using spark SQL

In [4]:
# Path to directory of geotiff images 
DATA_DIR = "./data/raster/"

In [5]:
df = spark.read.format("geotiff").option("dropInvalid",True).load(DATA_DIR)
df.printSchema()

root
 |-- image: struct (nullable = true)
 |    |-- origin: string (nullable = true)
 |    |-- Geometry: geometry (nullable = true)
 |    |-- height: integer (nullable = true)
 |    |-- width: integer (nullable = true)
 |    |-- nBands: integer (nullable = true)
 |    |-- data: array (nullable = true)
 |    |    |-- element: double (containsNull = true)

In [6]:
df = df.selectExpr("image.origin as origin","image.Geometry as Geom", "image.height as height", "image.width as width", "image.data as data", "image.nBands as bands")
df.show(5)

+--------------------+--------------------+------+-----+--------------------+-----+
|              origin|                Geom|height|width|                data|bands|
+--------------------+--------------------+------+-----+--------------------+-----+
|file:///home/hp/D...|POLYGON ((-58.702...|    32|   32|[1081.0, 1068.0, ...|    4|
|file:///home/hp/D...|POLYGON ((-58.286...|    32|   32|[1151.0, 1141.0, ...|    4|
+--------------------+--------------------+------+-----+--------------------+-----+

# Extract a particular band from geotiff dataframe using RS_GetBand()

In [7]:
''' RS_GetBand() will fetch a particular band from given data array which is the concatination of all the bands'''

df = df.selectExpr("Geom","RS_GetBand(data, 1,bands) as Band1","RS_GetBand(data, 2,bands) as Band2","RS_GetBand(data, 3,bands) as Band3", "RS_GetBand(data, 4,bands) as Band4")
df.createOrReplaceTempView("allbands")
df.show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                Geom|               Band1|               Band2|               Band3|               Band4|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|POLYGON ((-58.702...|[1081.0, 1068.0, ...|[865.0, 1084.0, 1...|[0.0, 0.0, 0.0, 0...|[0.0, 0.0, 0.0, 0...|
|POLYGON ((-58.286...|[1151.0, 1141.0, ...|[1197.0, 1163.0, ...|[0.0, 0.0, 0.0, 0...|[0.0, 0.0, 0.0, 0...|
+--------------------+--------------------+--------------------+--------------------+--------------------+

# Map Algebra operations on band values

In [8]:
''' RS_NormalizedDifference can be used to calculate NDVI for a particular geotiff image since it uses same computational formula as ndvi'''

NomalizedDifference = df.selectExpr("RS_NormalizedDifference(Band1, Band2) as normDiff")
NomalizedDifference.show(5)

+--------------------+
|            normDiff|
+--------------------+
|[-0.11, 0.01, 0.0...|
|[0.02, 0.01, -0.0...|
+--------------------+

In [9]:
''' RS_Mean() can used to calculate mean of piel values in a particular spatial band '''
meanDF = df.selectExpr("RS_Mean(Band1) as mean")
meanDF.show(5)

+-------+
|   mean|
+-------+
|1153.85|
|1293.77|
+-------+

In [10]:
""" RS_Mode() is used to calculate mode in an array of pixels and returns a array of double with size 1 in case of unique mode"""
modeDF = df.selectExpr("RS_Mode(Band1) as mode")
modeDF.show(5)

+----------------+
|            mode|
+----------------+
| [1011.0, 927.0]|
|[1176.0, 1230.0]|
+----------------+

In [14]:
''' RS_GreaterThan() is used to mask all the values with 1 which are greater than a particular threshold'''
greaterthanDF = spark.sql("Select RS_GreaterThan(Band1,1000.0) as greaterthan from allbands")
greaterthanDF.show()

+--------------------+
|         greaterthan|
+--------------------+
|[1.0, 1.0, 1.0, 0...|
|[1.0, 1.0, 1.0, 1...|
+--------------------+

In [15]:
''' RS_GreaterThanEqual() is used to mask all the values with 1 which are greater than a particular threshold'''

greaterthanEqualDF = spark.sql("Select RS_GreaterThanEqual(Band1,360.0) as greaterthanEqual from allbands")
greaterthanEqualDF.show()

+--------------------+
|    greaterthanEqual|
+--------------------+
|[1.0, 1.0, 1.0, 1...|
|[1.0, 1.0, 1.0, 1...|
+--------------------+

In [16]:
''' RS_LessThan() is used to mask all the values with 1 which are less than a particular threshold'''
lessthanDF = spark.sql("Select RS_LessThan(Band1,1000.0) as lessthan from allbands")
lessthanDF.show()

+--------------------+
|            lessthan|
+--------------------+
|[0.0, 0.0, 0.0, 1...|
|[0.0, 0.0, 0.0, 0...|
+--------------------+

In [17]:
''' RS_LessThanEqual() is used to mask all the values with 1 which are less than equal to a particular threshold'''
lessthanEqualDF = spark.sql("Select RS_LessThanEqual(Band1,2890.0) as lessthanequal from allbands")
lessthanEqualDF.show()

+--------------------+
|       lessthanequal|
+--------------------+
|[1.0, 1.0, 1.0, 1...|
|[1.0, 1.0, 1.0, 1...|
+--------------------+

In [18]:
''' RS_AddBands() can add two spatial bands together'''
sumDF = df.selectExpr("RS_AddBands(Band1, Band2) as sumOfBand")
sumDF.show(5)

+--------------------+
|           sumOfBand|
+--------------------+
|[1946.0, 2152.0, ...|
|[2348.0, 2304.0, ...|
+--------------------+

In [19]:
''' RS_SubtractBands() can subtract two spatial bands together'''
subtractDF = df.selectExpr("RS_SubtractBands(Band1, Band2) as diffOfBand")
subtractDF.show(5)

+--------------------+
|          diffOfBand|
+--------------------+
|[-216.0, 16.0, 11...|
|[46.0, 22.0, -96....|
+--------------------+

In [20]:
''' RS_MultiplyBands() can multiple two bands together'''
multiplyDF = df.selectExpr("RS_MultiplyBands(Band1, Band2) as productOfBand")
multiplyDF.show(5)

+--------------------+
|       productOfBand|
+--------------------+
|[935065.0, 115771...|
|[1377747.0, 13269...|
+--------------------+

In [21]:
''' RS_DivideBands() can divide two bands together'''
divideDF = df.selectExpr("RS_DivideBands(Band1, Band2) as divisionOfBand")
divideDF.show(5)

+--------------------+
|      divisionOfBand|
+--------------------+
|[1.25, 0.99, 0.9,...|
|[0.96, 0.98, 1.08...|
+--------------------+

In [22]:
''' RS_MultiplyFactor() will multiply a factor to a spatial band'''
mulfacDF = df.selectExpr("RS_MultiplyFactor(Band2, 2) as target")
mulfacDF.show(5)

+--------------------+
|              target|
+--------------------+
|[1730.0, 2168.0, ...|
|[2394.0, 2326.0, ...|
+--------------------+

In [23]:
''' RS_BitwiseAND() will return AND between two values of Bands'''
bitwiseAND = df.selectExpr("RS_BitwiseAND(Band1, Band2) as AND")
bitwiseAND.show(5)

+--------------------+
|                 AND|
+--------------------+
|[33.0, 1068.0, 10...|
|[1069.0, 1025.0, ...|
+--------------------+

In [24]:
''' RS_BitwiseOR() will return OR between two values of Bands'''
bitwiseOR = df.selectExpr("RS_BitwiseOR(Band1, Band2) as OR")
bitwiseOR.show(5)

+--------------------+
|                  OR|
+--------------------+
|[1913.0, 1084.0, ...|
|[1279.0, 1279.0, ...|
+--------------------+

In [25]:
''' RS_Count() will calculate the total number of occurence of a target value'''
countDF = df.selectExpr("RS_Count(RS_GreaterThan(Band1,1000.0), 1.0) as count")
countDF.show(5)

+-----+
|count|
+-----+
|  753|
| 1017|
+-----+

In [26]:
''' RS_Modulo() will calculate the modulus of band value with respect to a given number'''
moduloDF = df.selectExpr("RS_Modulo(Band1, 21.0) as modulo ")
moduloDF.show(5)

+--------------------+
|              modulo|
+--------------------+
|[10.0, 18.0, 18.0...|
|[17.0, 7.0, 2.0, ...|
+--------------------+

In [27]:
''' RS_SquareRoot() will calculate calculate square root of all the band values upto two decimal places'''
rootDF = df.selectExpr("RS_SquareRoot(Band1) as root")
rootDF.show(5)

+--------------------+
|                root|
+--------------------+
|[32.88, 32.68, 32...|
|[33.93, 33.78, 35...|
+--------------------+

In [28]:
''' RS_LogicalDifference() will return value from band1 if value at that particular location is not equal tp band1 else it will return 0'''
logDiff = df.selectExpr("RS_LogicalDifference(Band1, Band2) as loggDifference")
logDiff.show(5)

+--------------------+
|      loggDifference|
+--------------------+
|[1081.0, 1068.0, ...|
|[1151.0, 1141.0, ...|
+--------------------+

In [29]:
''' RS_LogicalOver() will iterate over two bands and return value of first band if it is not equal to 0 else it will return value from later band'''
logOver = df.selectExpr("RS_LogicalOver(Band3, Band2) as logicalOver")
logOver.show(5)

+--------------------+
|         logicalOver|
+--------------------+
|[865.0, 1084.0, 1...|
|[1197.0, 1163.0, ...|
+--------------------+

# Visualising Geotiff Images

1. Normalize the bands in range [0-255] if values are greater than 255
2. Process image using RS_Base64() which converts in into a base64 string
3. Embedd results of RS_Base64() in RS_HTML() to embedd into IPython notebook
4. Process results of RS_HTML() as below:

In [5]:
''' Plotting images as a dataframe using geotiff Dataframe.'''

df = spark.read.format("geotiff").option("dropInvalid",True).load(DATA_DIR)
df = df.selectExpr("image.origin as origin","image.Geometry as Geom", "image.height as height", "image.width as width", "image.data as data", "image.nBands as bands")

df = df.selectExpr("RS_GetBand(data,1,bands) as targetband", "height", "width", "bands", "Geom")
df_base64 = df.selectExpr("Geom", "RS_Base64(height,width,RS_Normalize(targetBand), RS_Array(height*width,0), RS_Array(height*width, 0)) as red","RS_Base64(height,width,RS_Array(height*width, 0), RS_Normalize(targetBand), RS_Array(height*width, 0)) as green", "RS_Base64(height,width,RS_Array(height*width, 0),  RS_Array(height*width, 0), RS_Normalize(targetBand)) as blue","RS_Base64(height,width,RS_Normalize(targetBand), RS_Normalize(targetBand),RS_Normalize(targetBand)) as RGB" )
df_HTML = df_base64.selectExpr("Geom","RS_HTML(red) as RedBand","RS_HTML(blue) as BlueBand","RS_HTML(green) as GreenBand", "RS_HTML(RGB) as CombinedBand")
df_HTML.show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                Geom|             RedBand|            BlueBand|           GreenBand|        CombinedBand|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|POLYGON ((-58.702...|<img src="data:im...|<img src="data:im...|<img src="data:im...|<img src="data:im...|
|POLYGON ((-58.286...|<img src="data:im...|<img src="data:im...|<img src="data:im...|<img src="data:im...|
+--------------------+--------------------+--------------------+--------------------+--------------------+

In [6]:
display(HTML(df_HTML.limit(2).toPandas().to_html(escape=False)))

# User can also create some UDF manually to manipulate Geotiff dataframes

In [7]:
''' Sample UDF calculates sum of all the values in a band which are greater than 1000.0 '''

def SumOfValues(band):
    total = 0.0
    for num in band:
        if num>1000.0:
            total+=1
    return total
    
calculateSum = udf(SumOfValues, DoubleType())
spark.udf.register("RS_Sum", calculateSum)

sumDF = df.selectExpr("RS_Sum(targetband) as sum")
sumDF.show()

+------+
|   sum|
+------+
| 753.0|
|1017.0|
+------+

In [8]:
''' Sample UDF to visualize a particular region of a GeoTiff image'''

def generatemask(band, width,height):
    for (i,val) in enumerate(band):
        if (i%width>=12 and i%width<26) and (i%height>=12 and i%height<26):
            band[i] = 255.0
        else:
            band[i] = 0.0
    return band

maskValues = udf(generatemask, ArrayType(DoubleType()))
spark.udf.register("RS_MaskValues", maskValues)

In [14]:

df_base64 = df.selectExpr("Geom", "RS_Base64(height,width,RS_Normalize(targetband), RS_Array(height*width,0), RS_Array(height*width, 0), RS_MaskValues(targetband, width, height)""))
df_HTML = df_base64.selectExpr("Geom","RS_HTML(region) as selectedregion")
display(HTML(df_HTML.limit(2).toPandas().to_html(escape=False)))

Py4JJavaError: An error occurred while calling o185.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 14.0 failed 1 times, most recent failure: Lost task 0.0 in stage 14.0 (TID 14) (hp-HP-Pavilion-Gaming-Laptop-15-dk0xxx executor driver): java.lang.ClassCastException: java.lang.Integer cannot be cast to org.apache.spark.sql.catalyst.util.GenericArrayData
	at org.apache.spark.sql.sedona_sql.expressions.raster.RS_Base64.eval(IO.scala:175)
	at org.apache.spark.sql.sedona_sql.expressions.raster.RS_HTML.eval(IO.scala:242)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.apply(Unknown Source)
	at scala.collection.Iterator$$anon$10.next(Iterator.scala:459)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:346)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:898)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:898)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2253)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2202)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2201)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2201)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1078)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2440)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2382)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2371)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2202)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2223)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2242)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:472)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:425)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3519)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:772)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3516)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.ClassCastException: java.lang.Integer cannot be cast to org.apache.spark.sql.catalyst.util.GenericArrayData
	at org.apache.spark.sql.sedona_sql.expressions.raster.RS_Base64.eval(IO.scala:175)
	at org.apache.spark.sql.sedona_sql.expressions.raster.RS_HTML.eval(IO.scala:242)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.apply(Unknown Source)
	at scala.collection.Iterator$$anon$10.next(Iterator.scala:459)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:346)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:898)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:898)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [13]:
df

DataFrame[targetband: array<double>, height: int, width: int, bands: int, Geom: udt]

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Geom                                                                                                                                                                                                            |selectedregion                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|POLYGON ((-58.702719395044475 -34.418775445554786, -58.70277605822864 -34.421569880680615, -58.6994039180242 -34.42161679331493, -58.69934736692278 -34.4188223533111, -58.702719395044475 -34.418775445554786))|<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAFE0lEQVR42l2X2W4jRRSG/ZpA4n1tu9ud9j527Dh2JnEmmWwMGWaJSMIQQGJGGolN4oJF3IEQiBfgCZC4QggJqlrfsX7Nxe/qLled5T9LVWfiTCbTdmg6lB0CxhrPdYcSa3oOS4eHDhcOxw4Nh5cOfzh85tBhzyZyPAoOVcYCsv18xSHTdRgh3G/eFsUT/s9jwH3WvnZ46vCRwxA8cbhyWCF4A8M9sqCArALz3vjUk4EoDTFkC4Qs9M8zh32HqcOY512UvnL4x+FX1udAFjbyvOeZyxkDc+j3gu4c9lA2FCPuMY5ZZyHz7Bw4vOvwvcNfjAGM7kO3ebyBchu9Man3bcavEei9PkGIX/gBSqYYtiAc54zeiUMM9V5FGHrB+oZ4vokBZeSlXvWJvU+wBM9WjN6ofx2+QNhElL4mESPWNvE05L1LOI2xIgZ2MdbLS+lqwsAABafQ57362eEnlC4w9BIPh3h5x/oeBsQoriJ7Ju/m3Az56YImViZ4dIOypeTCAaOn8xH0jxFyLsZVQcRajwcYPMdzv/8TxjRJmghPeLZK6PB/BYu9gBa4T548wPMRc4cgJO51nDqQPLnAaM9cmgx1LA5EQYDyUMrTyrVIUt4ifALt58w9Za6BEzPybARLA+Z930i9rhG7PJssee6wPIHWREI2J1SvCFUbzw5hwtN7JPGvifd7rPdOp4otbtZwrO1eY7W11xgP9hD02OEblI4pqyXx9ob95vAp74c4c0vY2tYJc1IeQ/G2gdI51DaZD9nsaf7R4Sty4ZiwrGDA//85e/sw4tk4472C/PSniOKX0FTF66korPDekRB8KSwdU4p2tmxB8Zg9BXLrHmU84r/1QeSV/8KzVcGcZ2PoAu96CFuBHQ6jHUnkRCqnT7KH7L2BrbQPhDx8xzEbSBVohURstowey2k5xJFEDq+EfAnxvoLnl+hbwOy6vI5Ikkg2WBluoaglibhkzlpvwNySELUI5UhO11tywdq0l7XugBazEsqt7HrSUusoP4XaWHq7r4yPHV4gK4AJn6Dvw9wpnhs7M0vCHWi0JhFJCBpiUJmSuoL+EGGPoPYEQyKM6LP+BiP7kid2n1g3n0RuN5YDWcIQYUSDjX9Ty1tywPSokgja+8yHVMgTkvgM1qc4kXmLiTM21vG0RPY3UJIVA35AwJ6cJTFUx1TGAgMWeHpNDpzjZExJpo3IK3hOEubeoL4oFwlbW5OcaBGC5+KAV/i7nILWIQ9gwc6JpR1GeSjcRWlZbrFFxg1QlT5gjcW35GfIaaHwW4cPOU8ewoY/gv+kTY8xOLXYNi55z8pttohSC0kR+nbw6ATDY2k2NXLgBTepO5Lb95r/SHZL4jT5LAFDvHwHvI1xJWGqJJfYbRiwlt1kzu4UVzBhDc6X7ntyt+xZH2hBvR5MZbm9ZiX2m/zfhsKu3IInci1rUyWXco+YC2Mju5TaF4pRXEdILMrzrOlIOEK83WV+yDmxL8e6GTqUe+dULibbGaHXvLZOZadkXjreEI9r0m5HhGFCie1LF2xg4DX/d2Tt1MqwKorsrl6Q94CzPQB2NFekOQ3EkIQ1MSwtMWBFYg4kCdMcaMBCTrK4KBVQk/OgIN97ZRgwugdvtO9ITtOE/7sYZ9+g6XeBNZucKKhIAlZ5D1hTR4h95RalISmTWSnnqlzv7SJyRCmvFefEGHvfkK9Z+2RvyHXNWnZBwpalhK1xbWLAGMP7nILPqIj/AbbU4DEFY9uOAAAAAElFTkSuQmCC" width="200"/>|
|POLYGON ((-58.28663657626114 -34.758580906202866, -58.28667994174946 -34.76137571668496, -58.28329340123002 -34.76141146033393, -58.28325014980316 -34.75861664615162, -58.28663657626114 -34.758580906202866)) |<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAE8klEQVR42l2XyW7kVBSG6x1p0qnBVbbLLpdrsGuekuokXUm6myahCYOatLoBCSF2SIgtLHgL9ogNO14A7rW+E/3K4pTte8/wn/HeqsW1Wi1yVDhaOUocPXU0cFQ66jjyPE1Hx45ajkJHbd6H7B+xH7MWIvMUaqLr4OgvR3eOcke1FAApIHIUd1iLRYk30MB4KDwTR314vWxPHPEyAQACbLxGplvjZ+ZohNc51Bbywh85eoKnBsgbmjq6cXQLmDp7gUQh4tt7/wfee96xB7AEQAKYGAAp6BPejwTAMYB8BJ45OsGzAJ5jQLThNxD3jn4FgHf4WlMwIHxtAMzI5Zy9juwH8gzlOUO2CTUepXNEqlbo9VGrQtbASA9FOZHZ8X5AMIJarPd5t7o4Q+aISAYYD4hKHZkRqfu0BoOFtSMFk0hxfQvqEWnq4VEKAOuOlM7pSQrr7D0R4D73547WNQl/iLESIyEgvNEFYIYoCVB0jqEAHa8cvWd9iO5YUtSWZ8SzMrbGQIxRM57jTQC1JP8Lisna1KfsN4psipdeNiOyXeT7rHcAUYXbiiOV8OUIt/nuyKCJUbgEfAvAF3wPpKYSSasV4JC6KSwFuSi2Ck0lhF3eOxKRa1owleJMUDokoiWdcUDHGFvP2fOOP+R8CvNMis0UN8X4nOr93dEbPJ0gU7K2h9cG2QS+DPnP+PaAqyEyQzjDAxujDZ51IjEhxF9RbL7tNsjG7J2ipymGPeAXfL909AmAqxQcCFkmLRbxjMn7x9LDA6mPMc8Q3hDQPXh/dHRJd9zTHRuiUPJeodHZPyBHY75jjNdJw5CIWbR2UtUN1nc4seK9JAJ7CrUEYAVgTzXbNNs6+gDylnRCA6UmHFCE3xPFBJ41smMA2gheCtmY93VX5ewET60jbsnxRMKewWPfffJ5D+2lmDcASKRwt3Lcl+x7/ZV3XRkaSzx7TfgyGM9YK6UlbaYfGExneNd+1FU9DE9Yz7GZ1mRWbzAWya1mDl1SyXec/S9QYkBmrF/AH0rYZ6Rriv4+z9IiYFNsKwfOCBCZhDWRHGZSxXaCDlGey1BaE0Wfsrcy7sfSEQ8zOZaTaojhXA6OFsoMoK+THwAdwV/QQXvp8wUgT9C9xXhmRVgnF1YHKzlALAo2GecyjP7k4NmyZm35llT0kLPRbXrOKd4AfVX4IrxeMEq3AOsCyObChlrw3z87uiIqc3gbeDUFxBcU9DfwpUTUusLbq4RSWukfR//hWSHVe8M0s1uSpWnJfiFXcePZAOAVxVsAbMn7QxtGVPl3jv519LejX8ijVexzAJqw9bF5dIFHdo/IAGQ1syJtXv5LRz9xmlY3ohmMU5Du5NgcMqhGGDmVC4XdEULG+Va6xw6dE/ScSsc8I6JbAFUApnI8zgBgf1YWKF4ziK7Itx2tmRiwsFp+5zIP7F9XIhdc78CD4BhvPpCOifx5sP6/o6ByAZzRklesTWVaDkSP3bqumZg29KqPEmVNiuYdoSrxfM37gSlYPIqCB/W1hH8lZ8cbQIXsXZIem5iV0rnMgozwjaW3A9rS/r7ZMV3Q1zvy3Zfr/EBOzAP8Ngc+h6f6c3oDw0QOiy5G7F5vANpya7Y0XNExBY7Y+kL+hGzQbYNsQUp97VT3s5dsdORP5y3oA7nV2nTsydG9xvs5BVw8ulUb4D3pXeGkjej/AdyqufhyPwxwAAAAAElFTkSuQmCC" width="200"/>                                            |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [61]:
df.show()

+--------------------+------+-----+-----+--------------------+
|          targetband|height|width|bands|                Geom|
+--------------------+------+-----+-----+--------------------+
|[1081.0, 1068.0, ...|    32|   32|    4|POLYGON ((-58.702...|
|[1151.0, 1141.0, ...|    32|   32|    4|POLYGON ((-58.286...|
+--------------------+------+-----+-----+--------------------+